@import "../../styles/settings/variables";

.form-container {
  margin: 3rem 1rem 1rem;

  .form-title {
    background-color: $gray-50;
    display: flex;
    align-items: baseline;
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
    gap: 1rem;
  }

  .container-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;

    .input {
    }

    .button {
      height: 3.4rem;
      color: $gray-900;
      font-weight: $heavyFont;
      background-color: $green-300;
    }
  }
}
