@import "../../styles/settings/variables";

.info-container {
  margin-bottom: 3.5rem;

  .info-profile {
    display: flex;
    background-color: $gray-50;
    border-radius: 0.5rem;
    margin: 1.5rem;

    .info-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .info-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      min-width: 308px;
    }

    .info-label {
      font-size: 1.5rem;
      color: $gray-900;
    }

    .info-user-data {
      font-size: 1.1rem;
      background-color: $gray-100;
      padding: 0.5rem 1rem;
      width: 10rem;
      text-align: center;
    }
  }
}
